:root {
  --side: 50;
  --height: calc(var(--side)*1.74);
}

.puzzle {
  position:fixed;
  padding:0;
  margin:0;

  top:0;
  left:0;

  width: 100%;
  height: 100%;
  background:rgba(255,255,255,0.5);

  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}

.hexa {
  width: 174px;
  height: 200px;
}

.hexa-body {
  position: absolute;
  display: grid;
  grid-template-columns: 86px 86px;
  grid-template-rows: 49.7px 49.7px 49.7px;
  width: 174px;
  height: 200px;
  margin: 0;
  padding: 0;
}

/*.Triangle {*/
/*  position: relative;*/
/*  width: 87px;*/
/*  height: 50px; !* 50 * (Math.sqrt(3)/2) *!*/
/*  display: inline-block;*/
/*  margin: -1px;*/
/*}*/




